<h1>Listing Article</h1>
<%= flash[:notice] %>
<table>
  <tr>
    <th>Title id</th>
    <th>Title</th>
    <th>Content</th>
    <th>Rating</th>
    <th>User id</th>
  </tr>

  <% @article.each do |f| %>
  <tr>
    <td><%= f.id %></td>
    <td><%= f.title %></td>
    <td><%= f.body %></td>
    <td><%= f.rating %></td>
    <td><%= f.user_id %></td>
    <td><%= link_to "Edit", {:action => "edit", :id => f.id} %></td>
    <td><%= link_to "Delete", {:action => "delete", :id => f.id}, :confirm => "Are you sure you want to delete  this article?" %></td>
    <td><%= link_to "Show", {:action => "show", :id => f.id} %></td>

 
  </tr>
<% end %>
</table>
<br />
<%= link_to "new articles", new_admin_article_path, :controller=>"admin/articles" %>

