<h1>Listing Article</h1>
<%= flash[:notice] %>
<% flash[:error] %>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Created By</th>
  </tr>
<% if current_user.nil? %>
  <% @article.each do |f| %>
  <tr>
    <td><%= f.title %></td>
    <td><%= truncate(strip_tags(f.body), length: 20) %></td>
    <% name_user = User.find_by_id(f.user_id) %>
    <td><%= name_user.name %></td>
    <td><%= link_to "show", {:action => "show", :id => f.id} %></td>
  </tr>
      <% end %>
<% else %>
   <% @article.each do |f| %>
  <tr>
    <td><%= f.title %></td>
    <td><%= truncate(strip_tags(f.body), length: 20) %></td>
    <% name_user = User.find_by_id(f.user_id) %>
    <td><%= name_user.name %></td>
    <% if current_user.id == f.user_id || current_user.is_admin? %>
    <td><%= link_to "Edit", {:action => "edit", :id => f.id} %></td>
    <td><%= link_to "Delete", {:action => "destroy", :id => f.id}, :confirm => "Are you sure you want to delete  this article?", :method => "delete" %></td>
    <% else %>
    <td><%= link_to "Edit", {:action => "edit", :id => f.id}, { :hidden => true } %></td>
    <td><%= link_to "Delete", {:action => "destroy", :id => f.id}, { :hidden => true }, :confirm => "Are you sure you want to delete  this article?", :method => "delete"%></td>
    <% end %>
    <td><%= link_to "Show", {:action => "show", :id => f.id}%></td>
  </tr>
  
  <% end %>
<% end %>
</table>
<br />


